#menu-container {
    width: $menu_width;
    background-color: $black;
    position: relative;
    h1{
      font-family: Open Sans;
      font-weight: lighter;
      text-transform: uppercase;
      color: $darkGray;
      font-size: 1.8em;
      text-align: center;
      padding: 15px 0;
    }
    #form-search {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      padding: 0 10px;
      justify-content: center;
      #input-search {
        width: 90%;
        border-radius: 2px;
        border: none;
        padding: 5px 10px;
        margin-bottom: 20px
      }
    }
    #search-results {
      height: auto;
      overflow-x: hidden;
      overflow-y: scroll;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 120px;
      li {
        padding: 10px 20px;
        cursor: pointer;
        h2 {
          color: $darkBlue;
          font-size: 20px;
          text-transform: uppercase;
          font-family: Open sans;
        }
        h3 {
          color: $white;
          font-size: 14px;
          font-family: Roboto;
        }
        &:hover {
          background-color: $darkGray;
          h3 {
            color: $black;
          }
        }
      }
    }
    @media screen and (max-width: $break_large) {
        width: $menu_width_large;
    }
    @media screen and (max-width: $break_medium) {
        width: $menu_width_mobile;
    }
}
