#menu-container {
    width: $menu_width;
    background-color: $black;
    h1{
      font-family: Open Sans;
      font-weight: lighter;
      text-transform: uppercase;
      color: $darkGray;
      font-size: 1.8em;
      text-align: center;
      padding: 15px 0;
    }
    #form-search {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      padding: 0 10px;
      justify-content: center;
      #input-search {
        width: 70%;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        border: none;
        padding-left: 10px;
      }
      #submit-search {
        flex-grow: 1;
        color: $white;
        background-color: $darkBlue;
        padding: 5px 0;
        border: none;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        cursor: pointer;
        max-width: 100px;
        i.fa-filter{
          padding-right: 10px;
        }
      }
    }
    @media screen and (max-width: $break_large) {
        width: $menu_width_large;
    }
    @media screen and (max-width: $break_medium) {
        width: $menu_width_mobile;
    }
}
